#quizboard {
    padding: 10px;
    margin-top: 100px;
    margin-left: 30%;
    width: 50%;
    height: 500px;
    display: none;
}

#actualQuestion {
    font-size: 35px;
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: blueviolet;
    border-radius: 10px;
    color:white;
    padding: 14px 40px;
    font-size: 24px;
    border: none;  
    margin: 30px;
    display: block; 
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 85px;
    font-style: bold;
    font-size: 50px;
    font-family: sans-serif;
}

p {
    font-size: 24px;
    width: 35%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

#startbtn {
    background-color: blueviolet;
    font-size: 32px;
    padding: 14px 40px;
    border-radius: 12px; 
    color: white;   
}

/* #answerBtns {
    display: flex;
    justify-content: center;
    align-items: center;

} */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display:none;
}

.top{
    display: flex;
    justify-content: space-between;
 }
 
 #timer {       
    font-size: 30px;  
    font-family: sans-serif;     
}

#highscore {
    font-size: 30px;    
    font-family: sans-serif;
}