#quizboard {
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 30%;
    width: 50%;
    height: 500px;
    display: none;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

#answerBtns {
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
}

h1 {
    text-align: center;
    padding: 85px;
    font-style: bold;
    font-size: 50px;
    font-family: sans-serif;
}

p {
    font-size: 24px;
    width: 35%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

#startbtn {
    background-color: blueviolet;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display:none;
}

.top{
    display: flex;
    justify-content: space-between;
 }
 
 #timer {       
    font-size: 30px;       
}

#highscore {
    font-size: 30px;    
}